body { font-family: "Roboto Slab", sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: "Roboto Slab", sans-serif; }

.logo {
    background-image: url("/img/logo.svg");
    background-size: 100% 100%;
    width: 300px;
    height: 121px;
    margin: 0 auto;
    position: relative;
}
.no-svg .logo { background-image: url("/img/logo.png"); }
.center { text-align: center; }

a:hover { color: #ef483d; }

li { line-height: 12px; }
ul.nav { margin-left: auto; }
ul.nav > li { display: inline-block; margin-right: 20px; }
ul.nav > li > a { text-decoration: none; font-size: 1.5em; }

.highlight { background-color: transparent; margin-bottom: 20px; }
.highlight pre { word-wrap: break-word; }

.guide ul { list-style: disc inside; }
.guide img[alt=final] { max-width: 620px; }
