/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    .logo { width: 300px; height: 121px; }
    img[alt=final] { max-width: 300px; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .logo { width: 300px; height: 121px; }
    img[alt=final] { max-width: 300px; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .logo { width: 100px; height: 40px; }
    img[alt=final] { max-width: 100px; }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .logo { width: 200px; height: 81px; }
    img[alt=final] { max-width: 200px; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .logo { width: 200px; height: 81px; }
    img[alt=final] { max-width: 200px; }
}

body { font-family: "Roboto Slab", sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: "Roboto Slab", sans-serif; }

.logo {
    background-image: url("/img/logo.svg");
    background-size: 100% 100%;
    width: 300px;
    height: 121px;
    margin: 0 auto;
    position: relative;
}
.no-svg .logo { background-image: url("/img/logo.png"); }
.center { text-align: center; }

a:hover { color: #ef483d; }

ul.nav { margin-left: auto; }
ul.nav > li { display: inline-block; margin-right: 20px; }
ul.nav > li > a { text-decoration: none; font-size: 1.5em; }

.highlight { background-color: transparent; margin-bottom: 20px; }
.highlight pre { word-wrap: break-word; }

.guide ul { list-style: disc inside; }
.guide img[alt=final] { max-width: 620px; }
