language: haskell
ghc:
  - 7.6
before_install:
  - sudo apt-get -qq update
  - sudo apt-get -qq install build-essential xorg-dev libudev-dev libts-dev libgl1-mesa-dev libglu1-mesa-dev libasound2-dev libpulse-dev libopenal-dev libogg-dev libvorbis-dev libaudiofile-dev libpng12-dev libfreetype6-dev libusb-dev libdbus-1-dev zlib1g-dev libdirectfb-dev libcairo2-dev
  - wget http://www.libsdl.org/tmp/SDL-2.0.3-8924.tar.gz
  - tar -xvzf SDL-2.0.3-8924.tar.gz
  - cd SDL-2.0.3-8924
  - ./configure
  - sudo make install
  - cd ..
  - cabal install gtk2hs-buildtools
