<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="A functionally reactive game engine, with headgear to protect you from the headache of game development provided.">
  <meta name="author" content="Zack Corr">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/css/skeleton.min.css">
  <link rel="stylesheet" href="/css/solarized-light.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700">
  <link rel="stylesheet" href="/css/layout.css">

  <script src="/js/modernizr.min.js"></script>

  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">

</head>

<body>

  <div class="container">
    <!--<div class="sixteen columns add-bottom" style="margin-top: 40px">
      <h1 class="remove-bottom center">Helm</h1>
    </div>-->

    <div class="sixteen columns add-bottom" style="margin-top: 40px">
      <div class="logo"></div>
    </div>

    <div class="sixteen columns">
      <ul class="nav center">
        <li><a href="/">Synopsis</a></li>
        <li><a href="/guide">Guide</a></li>
        <li><a href="http://hackage.haskell.org/package/helm">Documentation</a></li>
        <li><a href="http://github.com/z0w0/helm">Contribute</a></li>
        <li><a href="https://groups.google.com/d/forum/helm-dev">Discuss</a></li>
      </ul>
    </div>

    <hr/>

    {{ content }}

    <div class="sixteen columns add-bottom">
      <hr/>
      <p>
        Created and maintained by <a href="http://z0w0.me">Zack Corr</a>.
        The awesome logo is courtesy of <a href="http://calebjacob.com">Caleb Jacob</a>.
        <br/>
        Helm is an <a href="https://github.com/z0w0/helm">open-source project</a> licensed under the <a href="http://opensource.org/licenses/MIT">MIT license</a>.
        Come and hangout at <a href="http://webchat.freenode.net/?channels=haskell-game">#haskell-game on Freenode</a> or <a href="https://groups.google.com/d/forum/helm-dev">talk it up on the mailing list</a>.
      </p>
    </div>
  </div>

  <script>
    var _gaq=[['_setAccount','UA-42428963-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

</body>

</html>
